/*main*/
.main {
	width: 100%;
	height: 100%;
	position: relative;
}
.app-bar {
	box-sizing: border-box;
}
.search-input {
	width:200px!important;
	margin-right:20px;
}
/*left nav*/
.left-nav>div {
	z-index:999!important;
}
.left-nav-container {
	padding-top:64px;
	overflow: hidden;
	box-sizing: border-box;
}
.list-selected {
	background-color: rgba(0,0,0,.2)
}
/*content*/
.content-container {
	width: 100%;
	position: absolute;
	top:0px;
}
.content-container.content-has-left-padding {
	padding-left:220px;
}
.content-container.no-padding {
	padding-left: 20px; 
}
/*CSSTRANISTION*/
.content-appear {
	opacity: 0.01;
	position: relative;
	top:200px;
	color:red;
}
.content-appear.content-appear-active {
	opacity: 1;
	transition: all 800ms ease-out;
	top:0px;
	color:black;
}
.content-enter {
	opacity: 0.01;
	position: relative;
	top:200px;
}
.content-enter.content-enter-active {
	opacity: 1;
	transition: all 800ms ease-out;
	top:0px;
}

.app-appear {
	opacity: 0.01;
}
.app-appear.app-appear-active {
	opacity: 1;
	transition: all 500ms ease-out;
}
/*AllFiles*/
.breadcrumb {
	height:48px;
}
.all-my-files {
	display: flex;
	flex-direction:row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: flex-start;
}
.file-area {
	flex-grow: 1;
	height:666px;
	padding-top:8px;
}
.file-detail {
	flex:0 0 300px;
	height:666px;
	
}
